<ion-view>
  <ion-content class="fondoadn">
    <div class="row" style="background:#000000;background-position:fixed;">
      <div class="col-25 efecto" style="font-size:20px;margin-top:2%;text-align:center;color:#FFF;padding:4%;"><b>Agua</b></div>
      <div class="col-25 efecto" style="font-size:20px;margin-top:2%;text-align:center;color:#FFF;padding:4%;"><b>Video</b></div>
      <div class="col-25 efecto" style="font-size:20px;margin-top:2%;text-align:center;color:#FFF;padding:4%;"><b>ADN</b></div>
      <div class="col-25 efecto" style="font-size:20px;margin-top:2%;text-align:center;color:#FFF;padding:4%;"><b>Partes</b></div>
    </div>
    <div class="row">
      <div class="col">
        <div style="background: rgba(0,0,0,0.9);">
          <div id="stage">
            <div id="spinner" style="text-align: center; color: #fff;">
              <h1><span class="blue">a</span><span class="lineas2">________</span><span class="pink">t</span></h1>

              <h1><span class="blue">g</span><span class="lineas">________</span><span class="pink">c</span></h1>

              <h1><span class="blue">c</span><span class="lineas2">________</span><span class="pink">g</span></h1>
              <h1><span class="blue">t</span><span class="lineas">________</span><span class="pink">a</span></h1>

              <h1><span class="blue">a</span><span class="lineas2">________</span><span class="pink">t</span></h1>

              <h1><span class="blue">a</span><span class="lineas">________</span><span class="pink">t</span></h1>
              <h1><span class="blue">g</span><span class="lineas2">________</span><span class="pink">c</span></h1>

              <h1><span class="blue">t</span><span class="lineas">________</span><span class="pink">a</span></h1>

              <h1><span class="blue">a</span><span class="lineas2">________</span><span class="pink">t</span></h1>

              <!--saddddasd-->
            </div>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>
