<ion-view>
  <ion-content>
    <div class="row">
      <div class="col">
        <ul>
          ALIMENTOS
          <li>Aceite de Cacahuete
              Aceite de Coco
              Aceite Girasol
              Aceite Maíz
              Aceite Oliva
              Aceite Soja
              Aceite Uva, Pepita
              Acelgas
              Aguacate
              Ajo
              Albaricoque
              Apio
              Azúcar Blanca
              Azúcar Morena
              Bacalao Fresco
              Bacalao Seco
              Banana
              Berenjenas
            </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
