<ion-view>
  <ion-content class="menu">
      <div class="row" style="background:#000000";>
        <div class="col-25 efecto" style="font-size:20px;margin-top:13%;text-align:center;color:#FFF;padding:4.5%;"><b>Agua</b></div>
        <div class="col-25 efecto" style="font-size:20px;margin-top:13%;text-align:center;color:#FFF;padding:4.5%;"><b>Video</b></div>
        <div class="col-25 efecto" style="font-size:20px;margin-top:13%;text-align:center;color:#FFF;padding:4.5%;"><b>ADN</b></div>
        <div class="col-25 efecto" style="font-size:20px;margin-top:13%;text-align:center;color:#FFF;padding:4%;"><b>Partes</b></div>
      </div>
      <div class="row">
        <div class="col">
        <h1 style="color:#fff;margin-top:60%;margin-left:20%;font-family: 'Playfair Display', serif;">"BIOLOGIA"</h1>
        </div>
      </div>
  </ion-content>
</ion-view>
