<ion-view>
	<ion-content class="fondologin">
		<div class="row text-center">
			<div class="col">
				<div class="divisionform">
					<br>
					<h1 class="vitaApp"><b>VitaAPP</b></h1>
					<br>
					<form>
						<label><b>Usuario</b></label>
						<input class="usuarioC" type="text" placeholder=" Inserte nombre de usuario" name="">
					</form>
					<br>
					<form>
						<label><b>Contraseña</b></label>
						<input class="usuarioC" type="password" placeholder=" Inserte su contraseña" name="">
						<br>
						<label><input type="checkbox" name=""><b> Recordar contraseña</b></label>
					</form>
					<br><br>
				</div>
			</div>
		</div>
	<ion-content>
</ion-view>