<ion-view>
  <ion-content class="foninfo">
    <div class="row">
      <div class="col">
        <h1 class="text-center">LA REPRODUCCION SEXUAL</h1>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-50 info">
      <h3 class="reproduccion" >Reproducción</h3>
        <img  class="ejemplo" src="../img/planta.jpg">
      </div>
      <div class="col-50 info">
        <br>
        <div class="teoria text-center">
          <br><br>
          <p><b> El unico progenitor origina nuevos organismos identicos a el mismo </b></p>
          <br><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-50 info">
        <br><br>
        <div class="teoria2 text-center">
          <br>
          <p><b> Intervienen dos progenitores que producen gametos en sus organos sexuales. En la fecundacion se unen los gametos femeninos y masculinos y se forma el gigota que producira un individuo disdinto a los progenitores </b></p>
          <br>
        </div>
      </div>
      <div class="col-50 info">
      <h3 class="reproduccion" >Reproducción</h3>
        <img  class="ejemplo2" src="../img/huma.jpg">
      </div>
    </div>
  </ion-content>
</ion-view>
