<ion-view>
  <ion-content class="">
    <div class="row" style="background:#000000;background-position:fixed;">
      <div class="col-25 efecto" style="font-size:20px;margin-top:2%;text-align:center;color:#FFF;padding:4%;"><b>Agua</b></div>
      <div class="col-25 efecto" style="font-size:20px;margin-top:2%;text-align:center;color:#FFF;padding:4%;"><b>Video</b></div>
      <div class="col-25 efecto" style="font-size:20px;margin-top:2%;text-align:center;color:#FFF;padding:4%;"><b>ADN</b></div>
      <div class="col-25 efecto" style="font-size:20px;margin-top:2%;text-align:center;color:#FFF;padding:4%;"><b>Partes</b></div>
    </div>
    <div class="row fondoagua">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:#048998">
          <iframe class="conta"  src="https://www.youtube.com/embed/XMvncTxCLB4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h4 style="color:#FFF;font-family: 'Oswald', sans-serif;font-size:30px;text-align:center;"><b>La contaminacion del agua</b></h4><br>
        </div>
      </div>
    </div>
    <div class="row fondoagua">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:#AD5C06">
          <iframe class="conta" src="https://www.youtube.com/embed/FdafGT-Mar8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h4 style="color:#FFF;font-family: 'Oswald', sans-serif;font-size:35px;text-align:center;"><b>Cuidados del Agua</b></h4><br>
        </div>
      </div>
    </div>
    <div class="row fondoagua">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:#048998">
          <iframe class="conta" src="https://www.youtube.com/embed/BK02XoLfJQw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h4 style="color:#FFF;font-family: 'Oswald', sans-serif;font-size:30px;text-align:center;"><b>Formacion de Gametos</b></h4><br>
        </div>
      </div>
    </div>
    <div class="row fondoagua">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:#AD5C06">
          <iframe class="conta" src="https://www.youtube.com/embed/_f0X_trbApw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h4 style="color:#FFF;font-family: 'Oswald', sans-serif;font-size:35px;text-align:center;"><b>Procesos de Fecundación</b></h4><br>
        </div>
      </div>
    </div>
    <div class="row fondoagua">
      <div class="col" style="width:100%;height:auto;">
        <div style="background:#048998">
          <iframe class="conta" src="https://www.youtube.com/embed/NdEKzlIittk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <h4 style="color:#FFF;font-family: 'Oswald', sans-serif;font-size:30px;text-align:center;"><b>Metodos Anticonceptivos</b></h4><br>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
